/* Navigation Bar Classes */
.active{
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: red;
	padding-bottom: 5px;
}

.navbar{
	background: black;
	padding: 0px;
	height: 120px;
	z-index: 1;
}

.navbar-brand{
	background: rgb(161, 0, 0);
	height: 60px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 10px 15px 15px 15px;
	font-size: 25px;
	text-align: center;
}

.navbar-toggler {
	border: 0;
	height: 60px;
	width: 100%;
}

.navbar-nav {
	text-align: center;
	background: black;
	width: 100%;
}


/* Portfolio Card Styling */
.container-fluid {
	background-image: linear-gradient(to right, rgb(136, 136, 136),rgb(48, 48, 48),rgb(48, 48, 48),rgb(48, 48, 48),rgb(136, 136, 136));
	margin-top: 0px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-deck{
	max-width: 80%;
	padding-top: 30px;
	padding-bottom: 100%;
	margin-top: 120px;
	justify-content: center;
}

.card{
	border: none;
	min-width: 200px; /* Prevents Lightsaber title from wrapping */
	height: 250px;
	max-width: 450px;
}

.card-img-overlay{
	padding: 0px;
	width: 100%;
}

.card-title{
	background: black;
	height: 45px;
	margin-bottom: 40px;
	width: 100%;
	word-wrap: break-word;
}

.mycardlabel{
	height: 100%;
	background:  rgb(161, 0, 0);
	color: white;
	text-decoration: none;	
}

.card-title a:hover {
	text-decoration: none;
	color:silver;
}


/* Contact Card Styling */
.contact-card{
	background: rgb(206, 205, 205);
	height: 350px;
	min-width: 280px;
}

.contact-card-deck {
	width: 90%;
}

.contact-form{
	width: 90%;
}

.contact-textarea {
	height: 80px;
}

.contact-title{
	border-bottom-width: 5px;
	border-bottom-color: red;
	border-bottom-style: solid;
	margin-bottom: 20px;
}

/* About Me Card Styling */
.aboutme-card{
	background: rgb(206, 205, 205);
	height: 550px;
	min-width: 280px;
}

p.card-text{
	color: black;
}

#about-photo{
	width: 50%;
	max-width: 200px;
}

/* Footer Styling */
.page-footer{
	color: white;
	background: black;
	text-align: center;
	padding: 10px 0px 10px 0px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	/* Resize Navbar */
	.navbar{
		height: 60px;
	}

	/* Move Page Container Up */
	.container-fluid{
		margin-top: 0px;
	}

	/* Restyle Navbar */
	.navbar-brand{
		max-width: 200px;
		margin: 0px;
	}

	.navbar-nav{
		max-width: 150px;
		margin-left: auto;
	}

	.navbar-toggler{
		max-width: 30px;
		margin-right: 70px;
		margin-left: auto;
	}

	.card-deck {
		margin-top: 60px;
	}

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	/* Restyle NavBar */
	.navbar-nav {
		max-width: 400px;
		margin-right: 30px;
		margin-top: 8px;
	}

	.nav-link {
		margin-left: 35px;
	}

	.navbar-toggler{
		width: 52px;
	}

	.card {
		min-width: 250px;
		min-height: 300px;
		max-width: 400px;
	}

	/* Restyle Contact Me */
	.contact-card{
		height: 500px;
	}

	textarea.contact-textarea{
		height: 270px;
	}
}
